{
  "presets": [
    "@babel/preset-react",
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": []
}
